---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="who-we-are section">
  <h2>Objective</h2>
  <p>Some patients with injuries develop a bad foot posture while walking, which can lead to knee issues and muscle mass loss. For growing children, if bad foot posture is not corrected, it can lead to significant muscle loss and even uneven growth in height of legs. Patients with mild cases of cerebral palsy also suffer from this and the only solution currently is physiotherapy and slings.
  <p>We propose to design shoes with pressure sensors embedded into the sole which will be prescribed by physiotherapists for patients. The sensors will detect bad foot configurations as determined by a physiotherapist and we will provide haptic feedback (vibrations) to alert the patient and to help them change their habits.</p>
  <div class="links">
    <a href="policies.html">Policies</a>
    <a href="https://forms.gle/FLXU7LznRAXwNYqFA">Petition</a>
  </div>
</div>

<div class="Data Collection">
  <h2>Events</h2>
  <p>Wednesday, December 11<sup>th</sup> at 12pm</p>
  <p>Demonstration in front of Alma</p>
</div>

<div class="Physiotherapist Requirements">
  <h2>Resources</h2>
  <p>Coming Soon!</p>
</div>

<div class="contact-us section">
  <h2>Contact Us</h2>
  <p>Email:</p>
  <p><a href="https://www.facebook.com/groups/760044664509764/">Facebook</a></p>
  <p><a href="https://www.instagram.com/uiuc_mhreform/">Instagram</a></p>
  <p><a href="https://discord.gg/wqb2ggM">Discord</a></p>
</div>

<h2>Note:</h2>
<p>This site is very in progress! We wanted to have a functional hub up as soon as possible to demonstrate our seriousness and dedication to this movement.</p>
